<style>
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
</style>

<svelte:head>
  <title>Lurkk.it</title>
</svelte:head>
<PromiseComponent promise="{drawerFragment}"/>

<script>
  import PromiseComponent from "../promise-component/promise-component.html";

  export default {
    components: {
      PromiseComponent
    },
    data() {
      return {
        drawerFragment: import("../drawer-fragment/drawer-fragment.html").then(m => m.default)
      };
    }
  }
</script>
